
html {
	font-family: 'palatino'
}

.content {
	margin-left:auto;
	margin-right:auto;
	width: 800px;
}

.recent-bar {
	background-color: #009999;
	color: #003333;
	font-size: 1.5em;
	font-weight: bold;
}

.logo {
	width: 100px;
	height: 100px;
}