#{extends 'main.html' /}
#{set title:'Home' /}

<div class="content">
<div class="search-bar"></div>
<div class="recent-bar">Recently Added:</div>

<div class="company-display">
%{
	for(company in companies) {
}%

<table>
<tr>
	<td>
%{
	if (!company.hasImage) {
}%
#{form @Logo.uploadPicture(), enctype:'multipart/form-data'}
	<input type="hidden" name="companyId" value="${company.id}">
    <input type="file" name="image" />
    <input type="submit" name="submit" value="Save" />
#{/form}
%{
	} else {
}%
	<img class="logo" src="@{Logo.getPicture(company.id)}" />
%{
	}
}%
	</td>
	<td>
		${company.name}
	</td>
	<td>
		<div id="example-${company.id}"></div> <br /> 
	    Your Rating: <span id="example-rating-${company.id}">not set</span> 
	    <br /><br /> 
	</td>
</tr>
</td>
<script type="text/javascript">
	   	$('#example-${company.id}').ratings(10,${company.rating}).bind('ratingchanged', function(event, data) {
	    $('#example-rating-${company.id}').text(data.rating);
	            
	    var cId=${company.id};
        $.ajax({
        	type: "POST",
        	url:"/saveRating?cId="+cId+"&rating="+data.rating,
        	success: function(data) {
        	}
        })
	  });
</script>
%{
	}
}%
</table>
</div>
</div>

<section id="content" class="body">

	<ol id="posts-list" class="hfeed">

		<li>
		<article class="hentry">
			<header>
				<h2 class="entry-title"></h2>
			</header>

			<footer class="post-info">
				<abbr class="published" title="2005-10-10T14:07:00-07:00"><!-- YYYYMMDDThh:mm:ss+ZZZZ -->
					10th October 2005
				</abbr>
			</footer><!-- /.post-info -->

			<div class="entry-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut malesuada tellus.</p>
			</div><!-- /.entry-content -->
		</article></li>

		
	<!-- Article 1 start -->
	<li><article id="article1" class="hentry"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
	<h2>Company Name</h2>

	<div class="line"></div>
	<div class="articleBody clear">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis .... </p>
	</div>
	</article></li>
	<!-- Article 1 end -->

	</ol><!-- /#posts-list -->

</section><!-- /#content -->





