#{extends 'main.html' /}
#{set title:'Home' /}

<script> 
$(document).ready(function() {
	  $('#example-1').ratings(10,0).bind('ratingchanged', function(event, data) {
	    $('#example-rating-1').text(data.rating);
	  });
	  
	  $('#example-2').ratings(10,2).bind('ratingchanged', function(event, data) {
	    $('#example-rating-2').text(data.rating);
	  });
	});

</script>

 	<div id="example-1"></div> <br /> 
    Your Rating: <span id="example-rating-1">not set</span> 
    <br /><br /> 
    <div id="example-2"></div> <br /> 
    Your Rating: <span id="example-rating-2">not set</span> 


<div class="content">
<div class="search-bar"></div>
<div class="recent-bar">Recently Added:</div>
<div class="company-display">
%{
	for(company in companies) {
	System.out.println(company.hasImage);
}%
<table>
<tr>
	<td>
%{
	if (!company.hasImage) {
}%
#{form @Application.uploadPicture(), enctype:'multipart/form-data'}
	<input type="hidden" name="companyId" value="${company.id}">
    <input type="file" name="image" />
    <input type="submit" name="submit" value="Save" />
#{/form}
%{
	} else {
}%
	<img class="logo" src="@{Application.getPicture(company.id)}" />
%{
	}
}%
	</td>
	<td>
		${company.name}
	</td>
	<td>
		${company.satisfaction}
	</td>
</tr>
</td>
%{
	}
}%
</div>
</div>

