#{extends 'main.html' /}
#{set title:'Home' /}

<div class="content">
<div class="search-bar"></div>
<div class="recent-bar">Recently Added:</div>

<div class="company-display">
%{
	for(company in companies) {
}%

<table>
<tr>
	<td>
%{
	if (!company.hasImage) {
}%
#{form @Logo.uploadPicture(), enctype:'multipart/form-data'}
	<input type="hidden" name="companyId" value="${company.id}">
    <input type="file" name="image" />
    <input type="submit" name="submit" value="Save" />
#{/form}
%{
	} else {
}%
	<img class="logo" src="@{Logo.getPicture(company.id)}" />
%{
	}
}%
	</td>
	<td>
		${company.name}
	</td>
	<td>
		<div id="example-${company.id}"></div> <br /> 
	    Your Rating: <span id="example-rating-${company.id}">not set</span> 
	    <br /><br /> 
	</td>
</tr>
</td>
<script type="text/javascript">
	   	$('#example-${company.id}').ratings(10,${company.satisfaction}).bind('ratingchanged', function(event, data) {
	    $('#example-rating-${company.id}').text(data.rating);
	            
	    var cId=${company.id};
        $.ajax({
        	type: "POST",
        	url:"/saveRating?cId="+cId+"&rating="+data.rating,
        	success: function(data) {
        	}
        })
	  });
</script>
%{
	}
}%
</table>
</div>
</div>

